/******************************************************************* variables */


/************************* fonts */

//change fonts sitewide
$primary_font_stack:  'Roboto', sans-serif;
$default_size: 20;
$default_weight: 400;
$default_lh: 140%;

$secondary_font_stack_bold:  'CircularStd Bold', sans-serif;
$secondary_font_stack_book:  'CircularStd Book', sans-serif;
$secondary_font_stack_mono:  'Roboto Mono', sans-serif;


/********************************************************* colors */

$primary_colour: #1a233a;
$secondary_colour: #d21c32;