.button{

  display: inline-block;
  padding: 10px 40px 12px 60px;
  border-radius: 25px;
  position: relative;
  @include transition(0.5s);

  span{
    display: inline-block;
    @include transition(0.5s);
  }

  span.arrow{
    width: 9px;
    height: 14px;
    position: absolute;
    left: 25px;
    top: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  span.text{

    font-family: "Roboto Mono", "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;

  }

}

.button.red{

  background: #d21c32;

  span.arrow{

    background-image: url(../img/icon_button_arrow_white.svg);

  }

  span.text{

    color: #fff1f1;

  }

}


.button.white{

  background: #fffcfb;

  span.arrow{

    background-image: url(../img/icon_button_arrow_red.svg);

  }

  span.text{

    color: #d21c32;

  }

}

.button.pink{

  background: #fff1f1;

  span.arrow{

    background-image: url(../img/icon_button_arrow_red.svg);

  }

  span.text{

    color: #d21c32;

  }

}

.button.red:hover, .button.white:hover{

  background: #910707;

  span.arrow{
    left: 30px;

  }

  span.text{

  }


}

.button.pink:hover{

  background: #d21c32;

  span.arrow{
    left: 30px;
    background-image: url(../img/icon_button_arrow_white.svg);

  }

  span.text{

    color: #fff1f1;

  }

}


//640px
@include mq("tablet-small"){

  .button{
    padding: 8px 40px 10px 60px;

    span.text{
      font-size: 12px;
    }

  }

}